#stream {
  width: 95%;
  /* border:1px solid #d17f10; */
  box-shadow: 0 0 5px #d17f10;
  padding:2px;
  max-height: 35vh;
  margin-bottom: 5%;
}
#streams-container {
  display: flex;
  justify-content: space-between;
  height: auto;
  flex-wrap: wrap;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
#vidp-box {
  width: 50%;
}
#streamer {
  width: 100%;
  margin:10px 0 10px 0;
  padding:0;
}