
.post-container {
  color: white;
  background-image: url('../../assets/admin_bg_80-d4.jpg');
  animation-duration: 1.2s;
  animation-name: popIn;
}
#loading-posts-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}
@keyframes popIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.editor-container {
  background-color: black;
}
.post-text {
  display: flex;
  margin:1% 0 0 0;
  background-image: url('../../assets/back-panel-border-x4-2.png');
  background-size: 100% 100%;
}
#danger-text {
  display: block;
  text-align: left;
}
#danger-text img{
  max-width: 100%;
}
.poster-box {
  min-height: 50vh;
  width: 25%;
  background-image:url('../../assets/back-panel-border-vertical-x2.png');
  background-size: 100% 100%;
}
#post-avatar-img {
  width:17.5vh;
  height: 17.5vh;
  margin:10px 10px 5px 10px ;
  box-shadow: 0 0 15px #d17f10 ;
}
#post-username {
  border:0;
  margin:5% 0 0 10%;
  padding:0;
  font-size: 24px;
  color:#d17f10;
  font-weight: 500;
  line-height: 1;
  margin-right:37.5%;
}
#post-username:hover {
  cursor: pointer;
  color: #dfb989;
  text-shadow: 0 0 3px black ;
}
.post-content {
  width: 100%;
}
.post-heading {
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  text-align: left;
}
.post-heading p {
  margin:0% 0 1% 2%;
}
#post-heading-author {
  color:#d17f10;
  font-size: 17px;
}

#post-title {
  border:0;
  color:#d17f10;
  background-color: black;
  padding:0;
  margin:1% 0 0 2%;
  font-size:22px;
}
#likes {
  float: right;
  padding:0;
  margin:-0.5% 7.5% 0% 0;
  color:green;
  font-size:20px
}
#good {
  padding:0;
  width: 64px;
  float: right;
  margin:-0.7% 2% 0% 0%;
  padding-top:2px;
}
#poor {
  padding:0;
  width: 64px;
  float: right;
  margin:-0.7% 2% 0% 0%;
  padding-top:2px;
}
#good:hover {
  box-shadow: 0 0 15px rgba(0, 128, 0,0.3);
  cursor: pointer;
  background-color: rgba(0,128,0,0.3);
  border-radius: 15%;
}
#poor:hover {
  box-shadow: 0 0 15px rgba(128, 0, 0, 0.3);
  cursor: pointer;
  background-color: rgba(128,0,0,0.3);
  border-radius: 15%;
}
#danger-text {
  margin:1.5% 2% 2% 2%;
  color:#adadad;
  padding:0;
}
#danger-text p {
  padding:0;
  margin:0.2% 0 0 0;
}
#delete-post {
  float: right;
  margin-top:40%;
  border:1px solid red;
  font-size:18px;
  background-color: red;
  padding:0;
}
#not-delete-post {
  display: none;
}
#testit {
  color:white;
}
#delete-post:hover {
  cursor: pointer; 
}
.post-msg-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-msg-p {
  color:#d17f10;
  font-weight: 400;
  margin:0;
  padding:0;
  margin:20px 0 0 -5px;
}
.post-msg-img {
  margin:0 20px 0 0;
  padding:0;
  width: 50%;
}
#breakline {
  width: 99%;
  height: 4px;
  /* border:1px solid white; */
  margin:0 0.25% 0 0.25%;
  background-image: url('../../assets/horizontal-line.jpg');
  background-size: 100% 100%;
  padding:0;
}
#go-back {
  margin:0;
  text-align: left;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
#go-back h1 {
  font-size: 20px; 
  margin: 0;
  padding:0;
  margin-left: 5%;
}
#go-back h1:hover {
  cursor: pointer;
  color:#d17f10;
}