.category-box-container {
  width: 85%;
  margin-left: 2.5%;
  display: flex;
  background-image: url('../../assets//forum_content_grid-d4.png');
  background-size: 100% 100%;
  padding:5%;
  text-align: left;
}
.category-title {
  display: flex;
  width: 100%;
  border:0;
  padding: 0;
  margin:0;
  color:#d17f10;
  font-weight: 500;
  font-size: 125%;
  text-shadow: 1px 1px 0 rgba(238, 155, 0,0.4);
  margin:0 0 0 2%;
}
.category-title:hover {
  cursor: pointer;
  color:#ad9f90;
}
.category-description {
  display: flex;
  color:#ad9f90;
  font-size: 1.6vh;
  margin: 1% 0 0 2%;
  padding: 0;
}
.category-img {
  width: 96px;
  height: 96px;
  padding:0;
  margin:0;
  margin-bottom: 3%;
  box-shadow: 0 0 3px #d17f10 ;
}
.category-img:hover {
  box-shadow: 0 0 10px #d17f10;
}
.text-holder {
  width:80%;
}
.delete-span {
  color:red;
  margin-left: 80%;
  padding:2px;
}
.delete-span:hover {
  cursor: pointer;
  border:1px solid white;
  background-color: red;
  color:white;
}