.Profile {
  width: 100%;
  height: 620px;
  display:flex;
  flex-direction: row;
  align-items: center;
  background-image: url('./../../assets/leaf-border.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color:rgba(0, 0, 0, 0.3);
}

h3 {
  color: #dab979;
}

.avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-top: 50px;
  left: 35px;
  top: 15px;
}

.update-form {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 0;
  border-radius: 6px;
  outline: none;
}

.left-side {
  float:left;
  height: 100%;
  width: 50%;
  top:15px;
  left:15px;
}

.right-side {
  height: 100%;
  width: 50%;
  margin-top: 160px;
  margin-right: 25px;
  padding: 10px;
}

input[type="file" i] {
  display: none;
}

.avatar-label {
  color:#dab979;
  cursor: pointer;
}

.avatar-label:hover {
  color: whitesmoke;
  transition: 0.3s;
}

button {
  cursor: pointer;
}

.steam-id-input {
  padding: 10px;
  border: 0;
  border-radius: 6px;
  outline: 0;
}

.profile-button {
  padding: 15px;
  border: 2px solid #dab979;
  border-radius: 5px;
  display: inline-block;
  color: #dab979;
  font-weight: bolder;
  margin: 5px;
  transition: 0.4s;
  background-color: rgba(0,0,0,0);
}

.profile-button:hover {
  background-color:#dab979;
  color: whitesmoke;
}

.profile-button:active {
  background-color:#776541;
  color: whitesmoke;
  transform: scale(0.97);
}