.ck.ck-editor__main > .ck-editor__editable {
  color: #d17f10;
  background-image:url('../../assets/backpanel.png');
  background-size:100% 100%;
  min-height: 150px;
  margin:0;
  line-height: 1.5;
  margin-bottom: 20px;
}
.ck.ck-editor__main > .ck-editor__editable p {
  padding:0;
  margin:5px 0 0 5px;
}
.ck.ck-editor__main > .ck-editor__editable h {
color:#d17f10;
}
.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
  border-color:black;
}
.ck.ck-button .ck-button__label, a.ck.ck-button .ck-button__label {
  color:#d17f10;
}
/* */
.ck.ck-dropdown.ck-heading-dropdown .ck-dropdown__button .ck-button__label {
  display: none;
}
.ck.ck-dropdown .ck-button.ck-dropdown__button {
  display: none;
}
.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
  border-color:#d17f10; 
}
.editor-container {
  width: 100%;
  height: auto;
  margin:2% 0 2% 0;
  box-shadow: 0 0 5px #d17f10;
}