.content-holder {
  /* width: 69%; */
  background-image: url('../../assets/backpanel.png');
}
.category-container {
  margin-top:1vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 100%;
  gap: 0.2%;
  height: auto;
  flex-wrap: wrap;
  background-image: url('../../assets/backpanel.png');
  background-size: 100% 100%;
  margin-bottom: 5vh;
}

.category-form {
  width: 100%;
  display: block;
}
.category-form-holder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  /* background-image: url('../../assets/backpanel.png'); */
  background-size: 100% 100%;
}
#title {
  width: 92%;
  margin-bottom: 20px;
}
#description {
  width:92%;
}
#form-create {
  margin-top: 40%;
  width: 100%;
}
#category-form-title {
  border:0;
}