.topic-box {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  text-align: left;
}
.topic-box h1 {
  width: 100%;
  border:0;
  margin:10px 0 0 20px;
  padding:0;
  font-size: 24px;
  color:#d17f10;
  text-shadow: 1px 1px 0 rgba(238, 155, 0,0.4);
  font-weight: 400;
}
.topic-box h1:hover {
  cursor: pointer;
  color:#ad9f90;
}
.topic-box p {
  width: 100%;
  margin:5px 0 0 20px;
  font-size:16px;
  font-weight: 400;
}
#topic-img {
  width:20%;
  height: 96px;
  margin:0;
  display: none;
}
.topic-box-text {
  display: flex;
  flex-direction: column;
  width: 79.5%;
}
.topic-box h1 {
  margin-left: 20%;
}
#topic-stats {
  display: flex;
  width: 20%;
  margin:0;
  padding:0;
  justify-content: center;
  align-items: center;
}
#topic-author {
  color: #d17f10;
}
#topic-author:hover {
  cursor: pointer;
  color: #adadad;
}
#topic-info {
  font-size:15px;
  margin-left: 20%;
}
#topic-posts {
  font-size:15px;
}
.delete-topic {
  color:red;
  text-align: center;
  width: 10%;
  margin-left: 80%; 
  padding:2px
}
.delete-topic:hover {
  cursor: pointer;
  color:white;
  background-color: red;
}
