.video-container {
  width: 49%;
  box-shadow: 0 0 5px #d17f10;
  padding:0;
  margin:2% 0 0 0;
}
.all-videos-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-between;
  padding:0;
  margin:10vh 0 10vh 0;
}
#vid {
  width: 100%;
}