
.main {
  width: 70%;
}
#MAINED {
  width: 69%;
  height: auto;
  background-image: url('../../assets/admin_bg_80-d42.png');
  background-size: 100% 100%;
  margin-bottom: 10vh;
}

.main-text {
  justify-content: center;
}