.container {
  color:white;
  height: auto; 
  margin-top: 5vh;
  background-color: rgba(0,0,0,0.3);
  margin-bottom: 20vh;
}
.topic-container {
  color:white;
  width: 100%;
  display: flex;
  justify-content: center;
}
.topics-container {
  color:white;
  width: 100%;
  margin-bottom:5vh;
}
.category-topic-title {
  padding:10px 0 10px 0;
}
.topics-header {
  display: flex;
  height: 50px;
}
.topics-header span{
  font-size: 20px;
  color:#d17f10;
  font-weight: 500;
  line-height: 1.3;
}
#topic-title-active {
  width:20%;
  color:#d17f10;
}
#topic-title-active a {
  color:#d17f10
}
#topic-title-active:hover {
  cursor: pointer;
  background-color:rgba(238, 155, 0,0.4);
}
#topic-title {
  margin:0;
  width: 80%;
  height: auto;
}
#topic-statistic {
  width: 20%;
}
#topic-submit {
  font-size:16px;
}
#topic-submit {
  cursor: pointer;
}
#topic-input {
  height: 70px;
  width: 100%;
}
#topic-title-create {
  width: 100%;
  margin-top: 5vh;
}
#topic-create {
  width: 100%;
  margin-left: 3.5%;
  margin-top: 5vh;
}