#about-container {
  margin-top:5vh;
}
#about-container h1 {
  width: 100%;
}
#about-container p {
  color:#adadad;
}
#about-container a {
  color: orange;
}
#creators-container {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#creators-container h1 {
  width: 100%;
}
#creators-container h2 {
  color:#adadad
}
#creator {
  width: 49%;
  height: 25vh;
}
#creator p {
  color:orange;
}