.box-container {
  display: flex;
  align-items: center;
}
.box-container p {
  margin-left:15px;
  color:#dab979;
}
.box-img {
  width:36px;
  height: 36px;
  margin-left:10px;
}
.box-container:hover {
  cursor: pointer;
  background-color:rgba(238, 155, 0,0.4);
}