.Header {
  margin-bottom: 15%;
  width: 100%;
}

.navLi {
  padding: 15px;
  border: 2px solid #dab979;
  border-radius: 5px;
  display: inline-block;
  color: #dab979;
  font-weight: bolder;
  margin: 5px;
  transition: 0.4s;
}

.navLi:hover {
  background-color:#dab979;
  color: whitesmoke;
}

.navLi:active {
  background-color:#776541;
  color: whitesmoke;
  transform: scale(0.97);
}

.active {
  background-color: #dab979;
  color: whitesmoke;
}

h1 {
  padding: 5px;
  display: inline-block;
  color: #dab979;
}

h1:hover {
  cursor: default;
}