h4 {
  color: #dab979;
  cursor: default;
}

.system-req {
  color: #dab979;
  cursor: default;
}

.game-info-section {
  height: 470px;
}

.interactive-nav {
  border:0;
  padding: 15px;
  border-radius: 5px;
  display: inline-block;
  font-weight: bolder;
  background-color: black; 
  color: #e4af46;
}

.interactive-nav:hover {
  background-color: #e4af46;
  color: black;
  transition: 0.7s;
}