.loading {
  width: 64px;
  height: 64px;
  justify-content: center;
  animation-duration: 0.5s;
  animation-name: popIn;
}


@keyframes popIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}