.list-link-container {
  display: flex;
  align-items: center;
}
.square-img {
  width:16px;
  height: 16px;
  margin-left:20px;
}
.list-link-container p {
  margin-left: 10px;
  font-size: 14px;
  color: #d17f10;
}
.list-link-container:hover {
  cursor: pointer;
  background-color:rgba(238, 155, 0,0.4);
}

