.gallery {
  margin: 5px;
  margin-left: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 240px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}