.info-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:5px 0 5px 0;
}
.info-box-container h1 {
  font-size: 16px;
  width: auto;
  margin:0;
}
.info-box-container p {
  color:orange;
  margin: 5px 0 0 0;
  padding:0;
}
#info-box-category {
  font-size:14px;
}
#glow{
  width: 100%;
  padding:10px 0 10px 0;

}
#glow:hover {
  background-color: rgba(238, 155, 0,0.4);
  cursor: pointer
}