a {
  text-decoration: none;
}
.right-panel {
  float:right;
  width: 15%;
  height: fit-content;
  background-image: url('../../assets/right_panel_border3.png');
  background-size: 100% 100%;
}
.profile-container {
  height: 50px;
}
.profile-container p {
  margin:5px 0 0 0 ;
  padding:0;
}
.forum-container {
  display: flex;
  align-items: center;
}
.forum-container p {
  margin-left:15px;
}
#forum-logo {
  width:36px;
  height: 36px;
  margin-left:10px;
}
.profile-container p {
  color:white;
}