.Login {
  width: 100%;
  height: 580px;
  display:inline-flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./../../assets/leaf-border.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.3);
}

.login-input {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 13px;
  border: 0;
  border-radius: 6px;
  outline: 0;
  transition: 0.4s;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Garamond', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: large;
}

.login-input:hover {
  cursor: default;
}

.login-input:focus {
  background: rgb(200, 200, 200);
  font-family: -apple-system, BlinkMacSystemFont, 'Garamond', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.login-button {
  display: flex;
  flex-direction: column;
  border: 10px solid transparent;
  padding: 25px;
  margin-bottom: 55px;
  margin-top: 95px;
  border: 2px solid #dab979;
  border-radius: 5px;
  color: #dab979;
  background-color: rgba(255, 255, 255, 0);
  font-weight: bolder;
  font-family: -apple-system, BlinkMacSystemFont, 'Garamond', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: large;
}

.login-button:hover {
  background-color: #daba79c7;
  color: whitesmoke;
  transition: 0.3s;
  cursor: pointer;
}

.login-button:active {
  background-color:#dab979;
  color: whitesmoke;
}

.text-for-dummies {
  color:#dab979;
  font-size: larger;
}

.text-for-dummies:hover {
  cursor: default;
}

.text-for-dummies:first-child {
  margin-top: 55px;
}